################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/forge-extras
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
